<html>
    <head>
        <title>修改密码</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <include  file="Common:script"/>
    <script type="text/javascript" src="__STATIC__/assets/layer/jquery1.9.1.js?{:C('KLCHOU_BUILD')}"></script>
    <script type="text/javascript" src="__STATIC__/assets/validateform/jquery.validate.js?{:C('KLCHOU_BUILD')}"></script>
    <script type="text/javascript" src="__STATIC__/assets/layer/layer.js?{:C('KLCHOU_BUILD')}"></script>
    <body>
        <div id="page-user-changepwd" >
            <div id="page-content" >
                <h3></h3>
                <div id="page-title">
                    <i class="glyph-icon icon-home"></i> <big>修改密码</big>
                </div>
                <form id="pwdform" class="col-md-12 form-label-right center-margin" method="post" action="{:U('Users/changePassword')}">
                    <input type="hidden" name="userid" value="{$info.userid}"/>
                    <div class="form-row">
                        <div class="form-label col-md-1">
                            <label for="">
                                用户名:
                                <span class="required">*</span>
                            </label>
                        </div>
                        <div class="form-input col-md-4">
                            <label>{$info.username}</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label col-md-1">
                            <label for="">
                                邮箱：
                                <span class="required">*</span>
                            </label>
                        </div>
                        <div class="form-input col-md-4">
                            {$info.email}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label col-md-1">
                            <label for="">
                                原密码：
                                <span class="required"></span>
                            </label>
                        </div>
                        <div class="form-input col-md-3">
                            <input type="password" class="parsley-validated" data-required="true" data-trigger="change" data-type="oldpwd" name="oldpwd" id="oldpwd">
                           <span class="help-inline">长度为6~16位字符</span><span class="maroon">*</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label col-md-1">
                            <label for="">
                                新密码：
                                <span class="required"></span>
                            </label>
                        </div>
                        <div class="form-input col-md-3">
                            <input type="password" class="parsley-validated" data-required="true" data-trigger="change" data-type="newpwd" name="newpwd" id="newpwd">
                            <span class="help-inline">长度为6~16位字符</span><span class="maroon">*</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label col-md-1">
                            <label for="">
                                新密码确认：
                                <span class="required"></span>
                            </label>
                        </div>
                        <div class="form-input col-md-3">
                            <input type="password" class="parsley-validated" data-required="true" data-trigger="change" data-type="renewpwd" name="renewpwd" id="renewpwd">
                        </div>
                    </div>

                    <div class="form-input col-md-10 col-md-offset-1">
                      <button id="submit-btn" type="submit" class="btn medium primary-bg radius-all-2">保存</button>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript">
   $(function(){
	var validator = $("#pwdform").validate({
		rules: {
			oldpwd: {
				required: true,
				minlength: 6,
				maxlength: 16
			},
			newpwd: {
				required: true,
				minlength: 6,
				maxlength: 16
			},
			renewpwd: {
				required: true,
				equalTo: "#newpwd"
			}
		},
		messages: {
			oldpwd: {
				required: "请输入密码",
				minlength: "密码长度不够",
				maxlength: "密码长度不能超过16"
			},
			newpwd: {
				required: "请输入密码",
				minlength: "密码长度不够",
				maxlength: "密码长度不能超过16"
			},
			renewpwd:{
				required: "请输入密码",
				equalTo:"两次输入密码不相同"
			}
		},
		showErrors: function(errorMap, errorList) {
			if (errorList && errorList.length > 0) {
				$.each(errorList,
						function(index, obj) {
					var item = $(obj.element);
					// 给输入框添加出错样式
				        item.addClass('parsley-error');
					item.attr("title",obj.message);
				});
			} else {
				var item = $(this.currentElements);
				 item.removeClass('parsley-error');
				item.removeAttr("title");
			}
		},
		submitHandler: function() {
			var $form = $("#pwdform");
			var $btn = $("#submit-btn");
                        var action_url = $form.attr('action');
			if($btn.hasClass("disabled")) return;
			var submitData = {
                            oldpwd: $("input[name='oldpwd']", $form).val(),
                            newpwd: $("input[name='newpwd']", $form).val(),
                            renewpwd: $("input[name='renewpwd']", $form).val()
			};
			$.post(action_url, {info:submitData},function(data) {
     
				  if (data.status == 1) {
                                        layer.msg(data.info);
                                        window.location.href=data.url;
                                    } else {
                                        layer.msg(data.info);
                                    }
                                
                                
			},"json");
			return false;
		}
	});
        });
        </script>
    </body>
</html>
