 <div class='panel'>
                        <div class="panel-head bg-white ">
                            <strong class="icon-download text-main doc-h3"> 版本下载</strong>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <a class="button bg-main button-big" href="javascript:void(0)">sikcms1.0 基础版</a>

                            </div>
                            <div class="form-group">
                                <a class="button bg-main button-big" href="javascript:void(0)">sikcms1.0 完整版</a>
                            </div>
                            <div class="form-group">
                                完整版下载加群：<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=73acc15173fe0bcf46467e80f2c1ab6e50166f7e59383cb12bcb1b902261bbca">498476759</a>
                            </div>
                        </div>
     </div>