<!-- AUI Framework -->
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{:strip_tags(C('SYSTEM_NAME'))}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Favicons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__STATIC__/assets/images/icons/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__STATIC__/assets/images/icons/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__STATIC__/assets/images/icons/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="__STATIC__/assets/images/icons/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="__STATIC__/assets/images/icons/favicon.png">
    <!--[if lt IE 9]>
          <script src="__STATIC__/assets/js/minified/core/html5shiv.min.js"></script>
          <script src="__STATIC__/assets/js/minified/core/respond.min.js"></script>
        <![endif]-->

        <!-- Fides Admin CSS Core -->
	<link rel="stylesheet" type="text/css" href="__STATIC__/assets/css/minified/aui-production.min.css?{:C('KLCHOU_BUILD')}">
	<!-- Theme UI -->
        <link id="layout-theme" rel="stylesheet" type="text/css" href="__STATIC__/assets/themes/minified/fides/color-schemes/dark-blue.min.css?{:C('KLCHOU_BUILD')}">
        <!-- Fides Admin Responsive -->
        <link rel="stylesheet" type="text/css" href="__STATIC__/assets/themes/minified/fides/common.min.css?{:C('KLCHOU_BUILD')}">
        <!-- <link rel="stylesheet" type="text/css" href="../___STATIC__/assets/themes/fides/common.css"> -->
     <link id="theme-animations" rel="stylesheet" type="text/css" href="__STATIC__/assets/themes/minified/fides/animations.min.css?{:C('KLCHOU_BUILD')}">
        <link rel="stylesheet" type="text/css" href="__STATIC__/assets/themes/minified/fides/responsive.min.css?{:C('KLCHOU_BUILD')}">
       <!-- Fides Admin JS -->
        <script type="text/javascript" src="__STATIC__/assets/js/minified/aui-production.min.js?{:C('KLCHOU_BUILD')}"></script>
        <script type="text/javascript" src="__STATIC__/assets/js/minified/core/raphael.min.js?{:C('KLCHOU_BUILD')}"></script>
      
   </head>
   <style type="text/css">
	 #header-menu{
	   float:left;
	   font-size:14px;
	   height:54px;
	   line-height:53px;
	   padding:0 0 0 10px;
	 }
	  #header-menu a{
	   line-height:53px;
	   margin:0 25px 0 0;
	   color:#9c9c9c;
	  }
	    #header-menu a:hover{
		color:#fafafa;
		text-transform:uppercase;
		}
		#header-menu a.active{
		 color:#fafafa		
		}
	</style>