 <!---require minified JS CSS--->
         <link rel="stylesheet" type="text/css" href="__STATIC__/assets/css/minified/aui-production.min.css?{:C('KLCHOU_BUILD')}">
         <link id="layout-theme" rel="stylesheet" type="text/css" href="__STATIC__/assets/themes/minified/fides/color-schemes/dark-blue.min.css?{:C('KLCHOU_BUILD')}">
         <link rel="stylesheet" type="text/css" href="__STATIC__/assets/themes/minified/fides/common.min.css?{:C('KLCHOU_BUILD')}">
         <script type="text/javascript" src="__STATIC__/assets/js/minified/aui-production.min.js?{:C('KLCHOU_BUILD')}"></script>
         <script type="text/javascript" src="__STATIC__/assets/js/minified/core/raphael.min.js?{:C('KLCHOU_BUILD')}"></script>
         <script type="text/javascript" src="__STATIC__/assets/js/minified/widgets/charts-justgage.min.js?{:C('KLCHOU_BUILD')}"></script>
<!---require minified JS CSS--->