    <div id="page-sidebar" class="scrollable-content"  >
            <div id="sidebar-menu">
                <ul>
                    <li class="current-page"><a  href="">安装向导</a></li>
                     <li class="active">
                         <ul style="display: block;">
                            <li><a class="" href=""><i class="glyph-icon icon-angle-right"></i>阅读协议</a></li>
                            <li><a class="" href=""><i class="glyph-icon icon-angle-right"></i>检测环境</a></li>
                            <li><a class="" href=""><i class="glyph-icon icon-angle-right"></i>参数配置</a></li>
                           <li><a class="" href=""><i class="glyph-icon icon-angle-right"></i>安装进行</a></li>
                            <li><a class="" href=""><i class="glyph-icon icon-angle-right"></i>安装完成</a></li>
                        </ul>
                     </li>
                </ul>
            </div>
        </div>