  <div class="example-box">
         <div id="form-wizard" class="form-wizard">
             <ul class="anchor">
            <li>
                <a href="{:U('step1')}" class="selected" isdone="1" rel="1">
                  <label class="wizard-step">1</label>
                  <span class="wizard-description">
                     阅读协议
                  </span>
                </a>
            </li>
            <li>
                <a href="{:U('step2')}" class="selected" isdone="0" rel="2">
                  <label class="wizard-step">2</label>
                  <span class="wizard-description">
                     检测环境
                  </span>
                </a>
            </li>
            <li>
                <a href="{:U('step3')}" class="selected" isdone="0" rel="3">
                  <label class="wizard-step">3</label>
                  <span class="wizard-description">
                    参数配置
                  </span>                   
                </a>
            </li>
            <li>
                <a href="{:U('step4')}" class="selected" isdone="0" rel="4">
                  <label class="wizard-step">4</label>
                  <span class="wizard-description">
                     安装进行
                  </span>                   
                </a>
            </li>
               <li>
                <a href="{:U('step5')}" class="selected" isdone="0" rel="5">
                  <label class="wizard-step">5</label>
                  <span class="wizard-description">
                     完成安装
                  </span>                   
                </a>
            </li>
          </ul>
         </div>
     </div>
    <div class="example-box">
         <div class="example-code clearfix">
             <div class='row'>
                 <div class="col-md-10">
                <div class="infobox success-bg text-center">
                    <div class=" large btn info-icon">
                      
                    </div>
                    <h4 class="infobox-title">OK,恭喜您!</h4>
                    <p>程序已经安装完成<b></b> 
                        <br><a href="/admin.php" title="后台链接">进入后台</a>&nbsp;&nbsp;<a href="/index.php" title="前台链接">进入前台</a>
                    </p>
                </div>
            </div>
             </div>
         </div>
    </div>
