<!DOCTYPE html>
<html>
<include file="Public/header"/>
<body>
     <include file="Public/nav"/> 
        <div class="container">
            <div class="line-big">
                <div class="xs12"> 
                 <include file="Public/curpos"/>
                    <div class="detail">
                        <div class="border-top padding-top" ></div>
                        <h1>诚挚邀请您加入</h1>
                        <p style="font-size: 15px;">
                        <h2>你可以有：</h2><br>
                            1、精通PHP+MYSQL编程，3年以上开发经验;<br>
                            2、熟悉数据库设计，sql语言；有良好的编程习惯和简洁清晰的代码风格;<br>
                            3、熟悉Javascript, AJAX, HMTL，XHTML，CSS等前端技术;<br>
                            4、熟悉网站的设计、规划和制作流程，参与过成功项目的开发工作;<br>
                            5、熟悉Linux/Unix操作系统，掌握常用的基本配置和命令;<br>
                            6、熟悉TP框架。<br>
                            如果你是有理想有目标的开发者大牛并对开发cms感兴趣，欢迎你一起加入我们这个开发者大家庭，共同完善sikcms系统。<br>
                            QQ:1114526565
                        </p>
                    </div>
                </div>
              
            </div>
          
        </div>

      <include file="Public/footer"/>
    </body>
</html>